h3{
    padding: 0;
    margin: 0;
}

.button-primary{
    padding: 1rem;
    border: 0.1rem solid #808080;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #f5c28f;
    transition: ease-in-out 0.2s;
}

.button-primary:hover{
    border: 0.1rem solid #404040;
    box-shadow: 0.2rem 0.2rem #808080;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
}

.cart-list{
    flex: 3 1 60rem;
}

.cart-action{
    flex: 1 1 20rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
    
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;

    border-top: .1rem #808080 solid;
    border-bottom: .1rem #808080 solid;
    margin: 1rem;
}

.cart-list-container li img{
    max-width: 10rem;
    max-height: 10rem;
}

.cart-list-container li:first-child {
    border:none;
}


.cart-image{
    flex: 1 1;
}

.cart-name{
    flex: 9 1;
}


.cart-price{
    flex: 1 1;
    text-align: right;
    font-size: 2.5rem;
}

.full-width{
    width: 100%;
}


