.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.details-image{
    flex: 1 1 50rem;
}

.details-image img{
    max-width: 50rem;
    width: 100%;
    max-height: 60rem;
}

.details-info{
    flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
    margin: 0;
    padding: 0.5rem;
}

.details-action{
    flex: 1 1 30rem;
}

.details-action li, .details-info li{
    margin-bottom: 2rem;
}

.details-action{
    border: 0.1rem solid #808080;
    border-radius: 0.5rem;
    background-color: #fffefe;
    padding: 1rem 0;
}

.back-to-home{
    padding: 1rem;
}

.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

.cart-button{
    padding: 1rem;
    border: 0.1rem solid #808080;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #f5c28f;
    transition: ease-in-out 0.2s;
}

.cart-button:hover{
    border: 0.1rem solid #404040;
    box-shadow: 0.2rem 0.2rem #808080;
}

@media only screen and (min-width: 600px) {
    .details-image img {
      padding-left: 1rem;
    }
  }